<?xml version="1.0"?>

<configuration>
   <system.web.webPages.razor>
       <pages pageBaseType="System.Web.Mvc.WebViewPage">        
            <namespaces>
                <add namespace="mtm.RssParser.Helpers" />
                <add namespace="mtm.RssParser" />
            </namespaces>
        </pages>
    </system.web.webPages.razor>
</configuration>