<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="MssqlVotes" connectionString="metadata=res://*/Repository.DataEntities.MssqlVotes.csdl|res://*/Repository.DataEntities.MssqlVotes.ssdl|res://*/Repository.DataEntities.MssqlVotes.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.\SQLEXPRESS;AttachDbFilename=D:\MVC\Mytrip.Mvc.Entity\[POCO]\MvcApplication\Mytrip.Mvc\App_Data\mytripmvc.mdf;Integrated Security=True;User Instance=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="MysqlVotes" connectionString="metadata=res://*/Repository.DataEntities.MysqlVotes.csdl|res://*/Repository.DataEntities.MysqlVotes.ssdl|res://*/Repository.DataEntities.MysqlVotes.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;User Id=root;password=tolsty;Persist Security Info=True;database=mytripmvc;&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>