<?xml version="1.0"?>
<!--
  //************************************************************ 
  // Copyright © 2009 - 2010 Oleg Stuhin & Rostislav Haitovich
  // To learn more about Mytrip.Mvc.Entyty visit 
  // http://starterkitmytripmvc.codeplex.com/
  // mytripmvc@gmail.com
  // license: Microsoft Public License (Ms-PL) 
  // ***********************************************************-->
<configuration>
    <system.web>
        <pages>
            <namespaces>
                <add namespace="Mytrip.Articles" />
                <add namespace="Mytrip.Articles.Helpers" />
                <add namespace="Mytrip.Articles.Repository"/>
                <add namespace="Mytrip.Articles.Repository.DataEntities"/>
            </namespaces>
        </pages>
    </system.web>
</configuration>
