.checkbox, .checkboxcheck {
	width: 19px;
	height: 22px;
	margin: 0 5px 0 0;
	background-repeat: no-repeat;
	background-image: url('images/checkbox.png');
	display: inline-block;
	cursor:pointer;
	position:relative;
}
.checkbox
{
   background-position: 0px 0px;
}
.checkbox:hover
{
   background-position: 0px -25px;
}
.checkboxcheck
{
    background-position: 0px -50px;
}
.checkboxcheck:hover
{
    background-position: 0px -75px;
}