h1, h2, h3, h4, h5, h6{padding: 0;margin: 0;color: #00050F;}
h1{font-size: 1.2em;}
h2{font-size: 1.2em;}
h3{font-size: 1.1em;}
h4{font-size: 1em;}
h5, h6{font-size: 1em;}
h2.adminlink{position: relative;float: right;}
h2.white{color: #00050F;}
h3.hometitle{font-weight: bold;color: #00050F;}
h3.hometitle a{font-weight: bold;color: #00050F;}
h1.title{color: #00050F;}
h1.title a{color: #00050F;}
h2.title{color: #00050F;}
h2.title a{color: #00050F;}
h3.title a{color: #00050F;}
h3.title{color: #00050F;margin-bottom: 5px;margin-left: 3px;}
h4.title a{color: #00050F;}
h4.title{color: #00050F;}
