/************************************************************ 
    // Copyright © 2009 - 2010 Oleg Stuhin & Rostislav Haitovich
    // To learn more about Mytrip.Mvc.Entyty visit 
    // http://starterkitmytripmvc.codeplex.com/
    // mytripmvc@gmail.com
    // license: Microsoft Public License (Ms-PL) 
    // ***********************************************************/
/* BODY
   * -----------------------------------------------------*/
body
{
    background: #6E6E6E url(images/background_body.png) repeat-x;
    font-family: 'Trebuchet MS' , Arial, Helvetica, sans-serif;
    font-size: .75em;
    margin: 0;
    padding: 0;
    color: #333;
}
a:link
{
    color: #333;
    text-decoration: underline;
}
a:visited
{
    color: #333;
}
a:hover
{
    color: #333;
    text-decoration: none;
}
a:active
{
    color: #333;
}
p, ul
{
    margin-bottom: 20px;
    line-height: 1.6em;
}

/* HEADINGS
   * -----------------------------------------------------*/ 
h1, h2, h3, h4, h5, h6
{
    font-family: 'Trebuchet MS' , Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    color: #000;
}
h1
{
    font-size: 2em;
    padding-bottom: 0;
    margin-bottom: 0;
}
h2
{
    padding: 0;
}
h3
{
    font-size: 1.2em;
}
h4
{
    font-size: 1.1em;
}
h5, h6
{
    font-size: 1em;
}
h2.adminlink
{
    position: relative;
    float: right;
}
h2.white
{
    color: #333;
}

/* PRIMARY LAYOUT ELEMENTS 
   * -----------------------------------------------------*/ 
.page
{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
#header
{
    margin-bottom: 0px;
    color: #000;
    padding: 0;
    height: 93px;
}
#header h1
{
    line-height: 2em;
    font-size: 32px !important;
    font-family: 'Trebuchet MS' , Arial, Helvetica, sans-serif;
    color: #fff;
    font-weight: bold;
    padding: 0;
    margin: 0;
}
div#title
{
    position: absolute;
    float: left;
    height: 93px;
}
#main
{
    border: 5px #ccc solid;
    padding: 5px 5px 5px 5px;
    background-color: #fff;
    margin-bottom: 30px;
    _height: 1px;
}
#footer
{
    color: #999;
    padding: 10px 0;
    text-align: center;
    line-height: normal;
    margin: 0;
    font-size: .9em;
}

/* LOGIN THEME LANGUAGE 
   * -----------------------------------------------------*/ 
#topmenudisplay
{
    color: #333;
    display: block;
    text-align: right;
}
#topmenudisplay a.right_topmenu
{border:0;
    padding: 0;
}
#topmenudisplay a.right_topmenu1
{border:0;
    padding: 0;
}
#topmenudisplay a.right_topmenu2
{border:0;
    padding: 0;
}
.topmenudisplay ul, .topmenudisplay ul li
{
    margin: 0;
    padding: 0;
    display: inline;
    text-align: right;
}
.topmenudisplay ul li
{
    float: right;
    position: relative;
}
.topmenudisplay ul li a
{
    border: solid 1px #000;
    background-color: #eee;
    border-top: 0;
    text-decoration: none;
    display: block;
    padding: 2px 5px;
    white-space: nowrap;
}
.topmenudisplay ul li a:hover
{
    background-color: #ccc;
    text-decoration: none;
} 
.topmenudisplay ul li ul
{
    display: none;
    position: absolute;
    top: 23px;
} 
.topmenudisplay ul li ul li
{border: solid 1px #000;
    float: right;
    display: block;
}
.topmenudisplay ul li ul li a
{border:0px;
    display: block;
}

/* TAB MENU 
   * -----------------------------------------------------*/ 
div.menucontainer a.menuvisible
{
    color: #333;
    border-bottom: 1px #ccc solid;
    background-color: #ccc;
    text-decoration: none;
}
div.menucontainer a.menuvisible:hover
{
    color: #333;
    border-bottom: 1px #ccc solid;
    background-color: #ccc;
    text-decoration: none;
}
div.menucontainer a.right_menu
{border:0px;
   padding: 0; 
}
.menucontainer ul, .menucontainer ul li
{
    margin: 0;
    margin-right: 2px;
    padding: 0;
    display: inline;
    text-align: left;
}
.menucontainer ul li
{
    float: left;
    position: relative;
}
.menucontainer ul li a
{
    border-bottom: 1px #000 solid;
    background-color: #eee;
    color: #333;
    padding: 7px 17px;
    font-weight: bold;
    text-decoration: none;
    display: block;
    white-space: nowrap;
}
.menucontainer ul li a:hover
{
    color: #333;
    border-bottom: 1px #000 solid;
    background-color: #ccc;
    text-decoration: none;
} 
.menucontainer ul li ul
{
    display: none;
    position: absolute;
    top: 33px;
} 
.menucontainer ul li ul li
{
    border: 1px #000 solid;
    margin-left: 4px;
    float: left;
    display: block;
}
.menucontainer ul li ul li a
{
    border: 0;
    font-weight: normal;
    padding: 2px 5px;
    display: block;
}
.menucontainer ul li ul li a:hover
{
    border: 0;
    font-weight: normal;
    padding: 2px 5px;
    display: block;
}
/* ACCORDION
   * -----------------------------------------------------*/ 
.accordion
{
}
.accordion div.accordiontitle
{
    background: #ccc url(images/accordion.gif) no-repeat right -51px;
    border-bottom: solid 1px #fff;
    color: #333;
    padding: 7px 15px;
    margin: 0;
    cursor: pointer;
}
.accordion div.accordiontitle:hover
{
    background-color: #ccc;
}
.accordion div.accordiontitle.active
{
    background-position: right 5px;
}
.accordion div.accordiontitle a
{
    color: #333;
}
.accordion div.accordiontitle a:linck
{
    color: #333;
}
.accordion div.accordiontitle a:hover
{
    color: #333;
}
.accordion div.accordiontitle a:visited
{
    color: #333;
}
.accordion div.accordiontitle a:active
{
    color: #333;
}
.accordion div.accordioncontent
{
    margin: 0;
    background-color: #fff;
    border: solid 1px #ccc;
    margin-bottom: 1px;
    padding: 5;
    display: none;
}
.accordion div.accordioncontent a
{
    color: #333;
}
.accordion div.accordioncontent a:linck
{
    color: #333;
}
.accordion div.accordioncontent a:hover
{
    color: #333;
}
.accordion div.accordioncontent a:visited
{
    color: #333;
}
.accordion div.accordioncontent a:active
{
    color: #333;
}
/* ACCORDION2
   * -----------------------------------------------------*/ 
.accordion2
{
}
.accordion2 div.accordiontitle2
{
    background: #ccc url(images/accordion.gif) no-repeat right -51px;
    border-bottom: solid 1px #fff;
    color: #333;
    padding: 7px 15px;
    margin: 0;
    cursor: pointer;
}
.accordion2 div.accordiontitle2:hover
{
    background-color: #ccc;
}
.accordion2 div.accordiontitle2.active
{
    background-position: right 5px;
}
.accordion2 div.accordiontitle2 a
{
    color: #333;
}
.accordion2 div.accordiontitle2 a:linck
{
    color: #333;
}
.accordion2 div.accordiontitle2 a:hover
{
    color: #333;
}
.accordion2 div.accordiontitle2 a:visited
{
    color: #333;
}
.accordion2 div.accordiontitle2 a:active
{
    color: #333;
}
.accordion2 div.accordioncontent2
{
    display: none;
}
/* FORM LAYOUT ELEMENTS 
   * -----------------------------------------------------*/ 
fieldset
{
    margin: 1em 0;
    padding: 1em;
    border: 1px solid #CCC;
}
fieldset p
{
    margin: 2px 12px 10px 10px;
}
legend
{
    font-size: 1.1em;
    font-weight: 600;
    padding: 2px 4px 8px 4px;
}
input[type="text"]
{
    width: 200px;
    border: 1px solid #CCC;
}
input[type="password"]
{
    width: 200px;
    border: 1px solid #CCC;
}
.captcha
{
    border: 1px solid #CCC;
}

/* TABLE 
   * -----------------------------------------------------*/ 
table
{
    border: solid 1px #ccc;
    width: 100%;
    border-collapse: collapse;
}
table td
{
    border: solid 1px #ccc;
    padding: 5px;
}
table th
{
    border: solid 1px #ccc;
    background-color: #ccc;
    color: #333;
    padding: 6px 5px;
    text-align: left;
}
table th a
{
    color: #333;
}
table th a:link
{
    color: #333;
}
table th a:hover
{
    color: #333;
}
table th a:visited
{
    color: #333;
}
table th a:active
{
    color: #333;
}
table.mastertable
{
    padding: 0px;
    margin: 0px;
    width: 100%;
    border-width: 0px;
}
td.masterrighttd
{
    padding: 0px;
    padding-right: 5px;
    margin: 0px;
    vertical-align: top;
    border-width: 0px;
}
td.masterlefttd
{
    padding: 0px;
    margin: 0px;
    vertical-align: top;
    border-width: 0px;
    width: 250px;
}
td.masterrighttd1
{
    padding: 0px;
    padding-left: 5px;
    margin: 0px;
    vertical-align: top;
    border-width: 0px;
}
th.rootfolder
{
    width: 40px;
}
th.dableinput
{
    text-align: right;
    width: 50%;
}
th.oneinput
{
    text-align: right;
}
th.editdelite
{
    width: 50px;
}
th.folderfile
{
    width: 10px;
}
th.filechangedate
{
    text-align: center;
    width: 150px;
}
th.filesize
{
    width: 110px;
    text-align: center;
}
th.addrole
{
    text-align: right;
    vertical-align: middle;
}

/* MISC 
   * -----------------------------------------------------*/ 
.clear
{
    clear: both;
}
.error
{
    color: Red;
}
.field-validation-error
{
    color: #ff0000;
}
.field-validation-valid
{
    display: none;
}
.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}
.captcha-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}
.validation-summary-errors
{
    font-weight: bold;
    color: #ff0000;
}
.validation-summary-valid
{
    display: none;
}
.display-label, .editor-label, .display-field, .editor-field
{
    margin: 0.5em 0;
}
.text-box
{
    width: 30em;
}
.text-box.multi-line
{
    height: 6.5em;
}
.tri-state
{
    width: 6em;
}

/* END
   * -----------------------------------------------------*/ 

