div.mask{position:absolute;left:0;top:0;z-index:9000;background-color:#000;display:none;}
div.window{position: absolute;left: 0;top: -1000px;z-index: 9999;}
div.divsmile{position: absolute;left: 0;top: -1000px;z-index: 9999;}
div.modalTL{position: relative;width: 12px;height: 30px;float: left;background: url(images/modal.png);}
div.modalTR{position: relative;width: 22px;height: 30px;float: right;background: url(images/modal.png);background-position: -62px 0px;cursor: pointer;}
div.modalTR:hover{position: relative;width: 22px;height: 30px;float: right;background: url(images/modal.png);background-position: -62px -30px;cursor: pointer;}
div.modalTC{background: url(images/modalcon.png);background-repeat: repeat-x;color: #fff;height: 25px;padding-top: 5px;margin-right: 22px;margin-left: 12px;}
div.modalC{background: #fff;border-left: 1px solid #ccc;border-right: 1px solid #ccc;padding: 5px 10px 10px 10px;}
div.modalBL{position: relative;width: 3px;height: 3px;float: left;background: url(images/textbox.png);background-position: 0px -22px;}
div.modalBR{position: relative;width: 3px;height: 3px;float: right;background: url(images/textbox.png);background-position: -21px -22px;}
div.modalBC{border-bottom: 1px solid #ccc;background: #fff;height: 2px;margin-right: 3px;margin-left: 3px;}