<?xml version="1.0" encoding="utf-8"?>
<configuration>
<connectionStrings><add name="Entities" connectionString="metadata=res://*/Repository.DataEntities.MysqlRssparser.csdl|res://*/Repository.DataEntities.MysqlRssparser.ssdl|res://*/Repository.DataEntities.MysqlRssparser.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;User Id=root;Persist Security Info=True;database=mytripmvc&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>