 #mtPopupContainer  
{  
    position:absolute;  
    left:0;  
    top:0;  
    display:none;  
    z-index: 20000; 
    border: 0;
    max-width:600px;
}  
.mtPopupPopup
{  
    border: 0;
    padding: 0px;
    margin: 0px;
}
  .mtPopupPopup tr td
{  
    border: 0;
    padding: 0px;
    margin: 0px;
}
#mtPopupContent  
{  
    background-color: #FFF;  
    min-width: 175px;
    max-width:600px;  
    min-height: 50px; 
}  
.mtPopupPopup .mtPopupImage  
{  
    margin: 5px;  
    margin-right: 15px;  
}  
.mtPopupPopup .corner   
{  
    width: 19px;  
    height: 10px;  
}     
.mtPopupPopup .topLeft   
{  
    background: url(baloon/balloon_topLeft.png) no-repeat;
    text-align:right;  
}     
.mtPopupPopup .bottomLeft   
{  
    background: url(baloon/balloon_bottomLeft.png) no-repeat;
    text-align:right;  
}      
.mtPopupPopup .left   
{  
    background: url(baloon/balloon_left.png) repeat-y; 
    text-align:right;
}      
.mtPopupPopup .right   
{  
    background: url(baloon/balloon_right.png) repeat-y; 
    text-align:left; 
}   
.mtPopupPopup .topRight   
{  
    background: url(baloon/balloon_topRight.png) no-repeat;
    text-align:left;
}     
.mtPopupPopup .bottomRight   
{  
    background: url(baloon/balloon_bottomRight.png) no-repeat;  
}    
.mtPopupPopup .top   
{  
    background: url(baloon/balloon_top.png) repeat-x;  
}     
.mtPopupPopup .bottom   
{  
    background: url(baloon/balloon_bottom.png) repeat-x;  
    text-align: center;  
}  