<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="votesEntities" connectionString="metadata=res://*/VotesEntities.csdl|res://*/VotesEntities.ssdl|res://*/VotesEntities.msl;provider=System.Data.SqlClient;provider connection string='Data Source=.\SQLEXPRESS;AttachDbFilename=&quot;C:\Users\Mytrip.Mvc\Desktop\Mytrip\Mytrip(.NET Framework 4)\Mytrip.Mvc\App_Data\mytripmvc.mdf&quot;;Integrated Security=True;User Instance=True;MultipleActiveResultSets=True'" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>