iframe.textbox{width: 100%;background-color: #FFF;}
div.block{position: relative;float: left;}
div.block div.button{position: relative;float: left;margin-right: 1px;}
div.block div.separator{position: relative;float: left;width: 2px;height: 32px;background: url(images/htmlarea.png)  -130px -52px;}
div.toolbar{margin-bottom: 10px;height: 26px;width: 100%;margin-left: 3px;}
div.block div.button a.html div{ width: 45px;height: 26px;background: url(images/htmlarea.png);}
div.block div.button a.html div:hover{background-position: 0px -26px;}
div.block div.button a.bold div{width: 22px;height: 26px;background: url(images/htmlarea.png)  -45px 0px;}
div.block div.button a.bold div:hover{background-position: -45px -26px;}
div.block div.button a.italic div{width: 19px;height: 26px;background: url(images/htmlarea.png)  -67px 0px;}
div.block div.button a.italic div:hover{background-position: -67px -26px;}
div.block div.button a.underline div{width: 21px;height: 26px;background: url(images/htmlarea.png)  -86px 0px;}
div.block div.button a.underline div:hover{background-position: -86px -26px;}
div.block div.button a.strikethrough div{width: 19px;height: 26px;background: url(images/htmlarea.png)  -107px 0px;}
div.block div.button a.strikethrough div:hover{background-position: -107px -26px;}
div.block div.button a.subscript div{width: 24px;height: 26px;background: url(images/htmlarea.png)  -126px 0px;}
div.block div.button a.subscript div:hover{background-position: -126px -26px;}
div.block div.button a.superscript div{width: 24px;height: 26px;background: url(images/htmlarea.png)  -150px 0px;}
div.block div.button a.superscript div:hover{background-position: -150px -26px;}
div.block div.button a.increasefontsize div{width: 21px;height: 26px;background: url(images/htmlarea.png)  -174px 0px;}
div.block div.button a.increasefontsize div:hover{background-position: -174px -26px;}
div.block div.button a.decreasefontsize div{ width: 21px;height: 26px;background: url(images/htmlarea.png)  -195px 0px;}
div.block div.button a.decreasefontsize div:hover{background-position: -195px -26px;}
div.block div.button a.orderedlist div{width: 26px;height: 26px;background: url(images/htmlarea.png)  -216px 0px;}
div.block div.button a.orderedlist div:hover{background-position: -216px -26px;}
div.block div.button a.unorderedlist div{width: 26px;height: 26px;background: url(images/htmlarea.png)  -242px 0px;}
div.block div.button a.unorderedlist div:hover{background-position: -242px -26px;}
div.block div.button a.smile div{width: 26px;height: 26px;background: url(images/htmlarea.png)  -268px 0px;}
div.block div.button a.smile div:hover{background-position: -268px -26px;}
div.block div.button a.indent div{width: 26px;height: 26px;background: url(images/htmlarea.png)  0px -52px;}
div.block div.button a.indent div:hover{background-position: 0px -78px;}
div.block div.button a.outdent div{width: 26px;height: 26px;background: url(images/htmlarea.png)  -26px -52px;}
div.block div.button a.outdent div:hover{background-position: -26px -78px;}
div.block div.button a.justifyleft div{width: 26px;height: 26px;background: url(images/htmlarea.png)  -52px -52px;}
div.block div.button a.justifyleft div:hover{background-position: -52px -78px;}
div.block div.button a.justifycenter div{width: 26px;height: 26px;background: url(images/htmlarea.png)  -78px -52px;}
div.block div.button a.justifycenter div:hover{background-position: -78px -78px;}
div.block div.button a.justifyright div{width: 26px;height: 26px;background: url(images/htmlarea.png)  -104px -52px;}
div.block div.button a.justifyright div:hover{background-position: -104px -78px;}
div.block div.button a.link div{width: 36px;height: 26px;background: url(images/htmlarea.png)  -132px -52px;}
div.block div.button a.link div:hover{background-position: -132px -78px;}
div.block div.button a.unlink div{width: 36px;height: 26px;background: url(images/htmlarea.png)  -168px -52px;}
div.block div.button a.unlink div:hover{background-position: -168px -78px;}
div.block div.button a.image div{width: 28px;height: 26px;background: url(images/htmlarea.png)  -204px -52px;}
div.block div.button a.image div:hover{background-position: -204px -78px;}
div.block div.button a.horizontalrule div{width: 26px;height: 26px;background: url(images/htmlarea.png)  -232px -52px;}
div.block div.button a.horizontalrule div:hover{background-position: -232px -78px;}
div.block div.button a.p div{width: 25px;height: 26px;background: url(images/htmlarea.png)  0px -104px;}
div.block div.button a.p div:hover{background-position: 0px -130px;}
div.block div.button a.h1 div{width: 32px;height: 26px;background: url(images/htmlarea.png)  -25px -104px;}
div.block div.button a.h1 div:hover{background-position: -25px -130px;}
div.block div.button a.h2 div{width: 32px;height: 26px;background: url(images/htmlarea.png)  -57px -104px;}
div.block div.button a.h2 div:hover{background-position: -57px -130px;}
div.block div.button a.h3 div{width: 32px;height: 26px;background: url(images/htmlarea.png)  -89px -104px;}
div.block div.button a.h3 div:hover{background-position: -89px -130px;}
div.block div.button a.h4 div{width: 32px;height: 26px;background: url(images/htmlarea.png)  -121px -104px;}
div.block div.button a.h4 div:hover{background-position: -121px -130px;}
div.block div.button a.h5 div{width: 32px;height: 26px;background: url(images/htmlarea.png)  -153px -104px;}
div.block div.button a.h5 div:hover{background-position: -153px -130px;}
div.block div.button a.h6 div{width: 32px;height: 26px;background: url(images/htmlarea.png)  -185px -104px;}
div.block div.button a.h6 div:hover{background-position: -185px -130px;}
div.block div.button a.cut div{width: 30px;height: 26px;background: url(images/htmlarea.png)  -217px -104px;}
div.block div.button a.cut div:hover{background-position: -217px -130px;}
div.block div.button a.copy div{width: 23px;height: 26px;background: url(images/htmlarea.png)  -247px -104px;}
div.block div.button a.copy div:hover{background-position: -247px -130px;}
div.block div.button a.paste div{width: 19px;height: 26px;background: url(images/htmlarea.png)  -258px -52px;}
div.block div.button a.paste div:hover{background-position: -258px -78px;}