<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="Entities" connectionString="metadata=res://*/Repository.DataEntities.MysqlArticles.csdl|res://*/Repository.DataEntities.MysqlArticles.ssdl|res://*/Repository.DataEntities.MysqlArticles.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.\SQLEXPRESS;AttachDbFilename=D:\MVC\Mytrip.Mvc.Entity\[POCO]\Mytrip.Mvc_1.0.45.2_beta_src5\Mytrip.Mvc_1.0.45.2_beta_src4\Mytrip.Mvc\App_Data\Database1.mdf;Integrated Security=True;User Instance=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>