/************************************************************ 
    // Copyright © 2009 - 2010 Oleg Stuhin & Rostislav Haitovich
    // To learn more about Mytrip.Mvc.Entyty visit 
    // http://starterkitmytripmvc.codeplex.com/
    // mytripmvc@gmail.com
    // license: Microsoft Public License (Ms-PL) 
    // ***********************************************************/
/* PRIMARY LAYOUT ELEMENTS 
   * -----------------------------------------------------*/
     div#title
{
    margin-left: -2px;
    top: 0px;
    position: absolute;
    float: left;
    height: 93px;
}
/* TAB MENU 
   * -----------------------------------------------------*/ 
   #menucontainer
{
    top: 60px;
    position: absolute;
    float: left;
}