div.contentC{padding: 5px;background: url(images/contentcon.png);} 
div.contentTL{position: relative;width: 3px;height: 3px;float: left;background: url(images/content.png);}
div.contentBL{position: relative;width: 3px;height: 3px;float: left;background: url(images/content.png);background-position: 0px -3px;}
div.contentTR{position: relative;width: 3px;height: 3px;float: right;background: url(images/content.png);background-position: -4px 0px;}
div.contentBR{position: relative;width: 3px;height: 3px;float: right;background: url(images/content.png);background-position: -4px -3px;}
div.contentTC{background: url(images/contentcon.png);margin-right: 3px;margin-left:3px;height: 3px;} 
div.contentBC{background: url(images/contentcon.png);height: 3px;margin-right: 3px;margin-left: 3px;}
div.witheC{padding: 5px;background: #fff;border-left: 1px solid #9D9D86;border-right: 1px solid #9D9D86;} 
div.witheTL{position: relative;width: 3px;height: 3px;float: left;background: url(images/textbox.png)  0px 0px;}
div.witheBL{position: relative;width: 3px;height: 3px;float: left;background: url(images/textbox.png)  0px -22px;}
div.witheTR{position: relative;width: 3px;height: 3px;float: right;background: url(images/textbox.png)  -21px 0px;}
div.witheBR{position: relative;width: 3px;height: 3px;float: right;background: url(images/textbox.png)  -21px -22px;}
div.witheTC{margin: 0px 3px 0px 3px;border-top: 1px solid #9D9D86;background: #fff;height: 2px;} 
div.witheBC{margin: 0px 3px 0px 3px;border-bottom: 1px solid #9D9D86;background: #fff;height: 2px;}
div.darkC{background: #DDDDCC;padding: 0px 2px 0px 2px;margin: -2px 0px -2px 0px;border-left:1px solid #9D9D86;border-right:1px solid #9D9D86;}
div.darkTL{position: relative;width: 3px;height: 3px;float: left;background: url(images/textbox.png)  0px -25px;}
div.darkBL{position: relative;width: 3px;height: 3px;float: left;background: url(images/textbox.png)  0px -47px;}
div.darkTR{position: relative;width: 3px;height: 3px;float: right;background: url(images/textbox.png)  -21px -25px;}
div.darkBR{position: relative;width: 3px;height: 3px;float: right;background: url(images/textbox.png)  -21px -47px;}
div.darkTC{margin: 0px 3px 0px 3px;border-top: 1px solid #9D9D86;background-color: #DDDDCC;height: 2px;} 
div.darkBC{margin: 0px 3px 0px 3px;border-bottom: 1px solid #9D9D86;background-color: #DDDDCC;height: 2px;}
div.commentC{background: url(images/accordioncontentcon.png);padding: 0px 5px 0px 5px; min-height:25px;}
div.commentTL{position: relative;width: 3px;height: 3px;float: left;background: url(images/accordioncontent.png);}
div.commentBL{position: relative;width: 3px;height: 3px;float: left;background: url(images/accordioncontent.png);background-position: 0px -3px;}
div.commentTR{position: relative;width: 3px;height: 3px;float: right;background: url(images/accordioncontent.png);background-position: -4px 0px;}
div.commentBR{position: relative;width: 3px;height: 3px;float: right;background: url(images/accordioncontent.png);background-position: -4px -3px;}
div.commentTC{background: url(images/accordioncontentcon.png);height: 3px;margin-right: 3px;margin-left: 3px;} 
div.commentBC{background: url(images/accordioncontentcon.png);height: 3px;margin-right: 3px;margin-left: 3px;}