div.buttonIL, div.buttonIWL, div.buttonAL, div.buttonAWL{margin: 0px 4px 0px 0px;position: relative;float: left;}
div.buttonIR, div.buttonIWR, div.buttonAR, div.buttonAWR{margin: 0px 0px 0px 4px;position: relative;float: right;}
div.buttonC input[type="submit"], div.buttonCW input[type="submit"]{padding: 0px;font-family: inherit;font-size: 0.9em;border: 0;background: none;text-decoration: none;cursor: pointer;color: inherit;}
*:first-child + html div.buttonCW input[type="submit"],*:first-child + html div.buttonC input[type="submit"]{margin: 0px 0px 0px -8px;color: #fff;}
/* passive */
div.buttonC{margin: 0px 9px 0px 9px;padding: 3px 0px 0px 0px;background: url(images/buttoncon.png) repeat-x 0px -104px;color: #fff;height: 23px;}
div.buttonC a{color: #fff;text-decoration: none;}  
div.buttonL{background: url(images/button.png) 0px -104px;position: relative;width: 9px;height: 26px;float: left;}
div.buttonR{background: url(images/button.png) -71px -104px;position: relative;width: 9px;height: 26px;float: right;}
div.buttonCW{padding: 3px 0px 0px 0px;margin: 0px 9px 0px 9px;background: url(images/buttoncon.png) repeat-x 0px -52px;color: #fff;height: 23px;}  
div.buttonCW a{color: #fff;text-decoration: none;}
div.buttonLW{background: url(images/button.png) 0px -52px;position: relative;width: 9px;height: 26px;float: left;}
div.buttonRW{background: url(images/button.png) -71px -52px;position: relative;width: 9px;height: 26px;float: right;}
/* active */
div.buttonC.ac{background-position: 0px -130px;}    
div.buttonL.ac{background-position: 0px -130px;}
div.buttonR.ac{background-position: -71px -130px;}
div.buttonCW.ac{background-position: 0px -78px;}  
div.buttonLW.ac{background-position: 0px -78px;}
div.buttonRW.ac{background-position: -71px -78px;}


