/*------PASSIVE-----------------*/
div.logonL{background: url(images/button.png);background-position: 0px 0px;position: relative;width: 9px;height: 26px;float: left;}
div.logonR{background: url(images/button.png);background-position: -71px 0px;position: relative;width: 9px;height: 26px;float: right;}
div.logonRD{background: url(images/button.png);background-position: -59px 0px;position: relative;width: 21px;height: 26px;float: right;}
/*------------ACTIVE--------------------*/
div.logonC.ac{background: url(images/buttoncon.png);background-repeat: repeat-x;background-position: 0px -26px;color: #000;height: 23px;padding-top: 3px;margin-right: 9px;margin-left: 9px;} 
div.logonC.ac a{color: #000;text-decoration: none;}
div.logonC.ac a:hover{color: #000;text-decoration: none;}   
div.logonCD.ac{background: url(images/buttoncon.png);background-repeat: repeat-x;background-position: 0px -26px;color: #000;height: 23px;padding-top: 3px;margin-right: 21px;margin-left: 9px;} 
div.logonCD.ac a{color: #000;text-decoration: none;}
div.logonCD.ac a:hover{color: #000;text-decoration: none;}
div.logonL.ac{background:url(images/button.png);background-position: 0px -26px;position: relative;width: 9px;height: 26px;float: left;}
div.logonR.ac{background:url(images/button.png);background-position: -71px -26px;width: 9px;height: 26px;float: right;}
div.logonRD.ac{background: url(images/button.png);background-position: -59px -26px;position: relative;width: 21px;height: 26px;float: right;}
/*------------WARNING--------------------*/
div.logonLW{background:url(images/button.png);background-position: 0px -52px;position: relative;width: 9px;height: 26px;float: left;}
div.logonRW{background:url(images/button.png);background-position: -71px -52px;position: relative;width: 9px;height: 26px;float: right;}
/*------------WARNING ac--------------------*/
div.logonCW.ac{background: url(images/buttoncon.png);background-repeat: repeat-x;background-position: 0px -78px;color: #fff;height: 23px;padding-top: 3px;margin-right: 9px;margin-left: 9px;}  
div.logonCW.ac a{color: #fff;text-decoration: none;}
div.logonCW.ac a:hover{color: #fff;text-decoration: none;}
div.logonLW.ac{background:url(images/button.png);background-position: 0px -78px;position: relative;width: 9px;height: 26px;float: left;}
div.logonRW.ac{background:url(images/button.png);background-position: -71px -78px;position: relative;width: 9px;height: 26px;float: right;}
/*-------------UL-LI------------------*/
div.logonI div.logonUL{position: absolute;z-index: 1000;top: -1000px;} 
div.logonSC{padding: 2px 1px 2px 1px;background: url(images/menuslidecon.png);}
div.logonSTL{position: relative;width: 3px;height: 8px;float: left;background:url(images/menuslide.png);}
div.logonSBL{background:url(images/menuslide.png);background-position: 0px -8px;position: relative;width: 3px;height: 3px;float: left;}
div.logonSTR{background:url(images/menuslide.png);background-position: -4px 0px;position: relative;width: 3px;height: 8px;float: right;}
div.logonSBR{background:url(images/menuslide.png);background-position: -4px -8px;position: relative;width: 3px;height: 3px;float: right;}
div.logonSTC{background:url(images/menuslidecontop.png);margin-right: 3px;margin-left: 3px;height: 8px;} 
div.logonSBC{background:url(images/menuslidecon.png);height: 3px;margin-right: 3px;margin-left: 3px;}
div.logonSC div a{color: #000000;text-decoration: none;}
div.logonSC div a:hover{color: #000000;text-decoration: none;}
div.logonSC div{padding: 3px 4px 3px 4px;color: #000000;}
div.logonSC div:hover{background: #F1F1EC;background-repeat: repeat-x;background-position: 0px -26px;color: #000000;}
