<?xml version="1.0"?>

<configuration>
   <system.web.webPages.razor>
       <pages pageBaseType="System.Web.Mvc.WebViewPage">        
            <namespaces>
                <add namespace="Mytrip.Articles" />
                <add namespace="Mytrip.Articles.Helpers" />
                <add namespace="Mytrip.Articles.Repository" />
                <add namespace="Mytrip.Articles.Repository.DataEntities" />
            </namespaces>
        </pages>
    </system.web.webPages.razor>
</configuration>