@{ 
    /* Copyright © 2009 - 2010 Oleg Stuhin & Rostislav Haitovich 
       To learn more about Mytrip.Mvc visit  
       http://mytripmvc.net  http://mytripmvc.codeplex.com 
       mytripmvc@gmail.com
       license: Microsoft Public License (Ms-PL) */ 
}
@{
    View.Title = Html.MytripPageTitle(CoreLanguage.change_password, "/");
    View.Keywords=Html.MytripPageTitle(CoreLanguage.change_password, ",");
    View.Description=Html.MytripPageTitle(CoreLanguage.change_password, ",");
}
@section content{
<h1 class="title">@CoreLanguage.change_password</h1>
<table class="noborders">
<tr>
<td style="width: 180px;">
         <div style="text-align: center;"><a href='/Home/Profile/@TempData["username"].ToString()'>
@Html.Avatar(TempData["useremail"].ToString(), new { title="ArticleLanguage.view_user_profile"})</a></div>
     @Html.Partial("_profileSmall")
</td>
<td>
<fieldset>
<p>@CoreLanguage.change_password_success</p>
</fieldset>
</td></tr>
</table>

}
