/* Dropdown style */
select{display:none;}
div.dropdown{width: 220px;}
dl.dropdown dt{margin-top: -15px;}
*:first-child+html .dropdown dt{margin-top: 0px;}
dl.dropdown dd, .dropdown ul{margin: 0px;padding: 0px;}
dl.dropdown dd{position: relative;}
dl.dropdown a, .dropdown a:visited{color: #1E395B;text-decoration: none;outline: none;}
dl.dropdown a:hover{color: #1E395B;}
dl.dropdown dt a:hover{color: #1E395B;}
dl.dropdown dt a{background: url(images/arrow.png) no-repeat scroll right center;display: block;width: 212px;padding: 0px 0px 0px 2px;color: #1E395B;text-decoration: none;outline: none;height: 19px;}
dl.dropdown dt a span{cursor: pointer;display: block;}
dl.dropdown dd ul{background: #fff none repeat scroll 0 0;border: 1px solid #ccc;color: #1E395B;display: none;left: 0px;padding: 0px 0px;position: absolute;top: 4px;width: auto;min-width: 218px;list-style: none;z-index: 1000;margin-left: -3px;}
dl.dropdown span.value{display: none;}
dl.dropdown dd ul li a{padding: 0px 0px 0px 2px;display: block;color: #1E395B;text-decoration: none;outline: none;}
dl.dropdown dd ul li a:hover{background-color: #E8EEF4;}
dl.dropdown img.flag{border: none;vertical-align: middle;margin-left: 10px;}
div.dropdownC{background: url(images/textboxcon.png);background-repeat: repeat-x;height: 22px;margin-right: 3px;margin-left: 3px;padding-top: 3px;}
div.dropdownL{position: relative;width:3px;height: 25px;float: left;background: url(images/textbox.png);}
div.dropdownR{position: relative;width: 3px;height: 25px;float: right;background: url(images/textbox.png);background-position: -21px 0px;}
/* er */
div.dropdown.er dl.dropdown dt a{background: url(images/arrowerror.png) no-repeat scroll right center;display: block;width: 212px;padding: 0px 0px 0px 2px;color: #1E395B;text-decoration: none;outline: none;height: 19px;}
div.dropdown.er div.dropdownC{background: url(images/textboxcon.png);background-repeat: repeat-x;height: 22px;margin-right: 3px;margin-left: 3px;padding-top: 3px; background-position: 0px -50px;}
div.dropdown.er div.dropdownL{position: relative;width:3px;height: 25px;float: left;background: url(images/textbox.png); background-position: 0px -50px;}
div.dropdown.er div.dropdownR{position: relative;width: 3px;height: 25px;float: right;background: url(images/textbox.png);background-position: -21px -50px;}
div.dropdown.er dl.dropdown dd ul li a:hover{background-color: #FFEEEE;}
div.dropdown.er dl.dropdown dd ul{background: #fff none repeat scroll 0 0;border: 1px solid #FF0000;color: #1E395B;display: none;left: 0px;padding: 0px 0px;position: absolute;top: 4px;width: auto;min-width: 218px;list-style: none;z-index: 1000;margin-left: -3px;}