<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="articlesEntities" connectionString="metadata=res://*/ArticlesEntities.csdl|res://*/ArticlesEntities.ssdl|res://*/ArticlesEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.\SQLEXPRESS;AttachDbFilename=C:\Users\Mytrip.Mvc\Desktop\MVC_JOB\MVC_JOB_CORE\Mytrip.Mvc\App_Data\mytripmvc.mdf;Integrated Security=True;User Instance=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>