div.contentC{padding: 15px;background: #fff;border-style: solid;border-width: 0px 1px 0px 1px;border-color: #DADADA;} 
div.contentTL{position: relative;width: 3px;height: 3px;float: left;background: url(../images/content.png);}
div.contentBL{position: relative;width: 3px;height: 3px;float: left;background: url(../images/content.png);background-position: 0px -3px;}
div.contentTR{position: relative;width: 3px;height: 3px;float: right;background: url(../images/content.png);background-position: -4px 0px;}
div.contentBR{position: relative;width: 3px;height: 3px;float: right;background: url(../images/content.png);background-position: -4px -3px;}
div.contentTC{background: url(../images/contentcon.png);margin-right: 3px;margin-left:3px;height: 3px;} 
div.contentBC{background: url(../images/contentcon.png);background-position: 0px -3px;height: 3px;margin-right: 3px;margin-left: 3px;}
div.witheC{padding: 5px;background: #fff;border-left: 1px solid #ccc;border-right: 1px solid #ccc;} 
div.witheTL{position: relative;width: 3px;height: 3px;float: left;background: url(../images/textbox.png)  0px 0px;}
div.witheBL{position: relative;width: 3px;height: 3px;float: left;background: url(../images/textbox.png)  0px -22px;}
div.witheTR{position: relative;width: 3px;height: 3px;float: right;background: url(../images/textbox.png)  -21px 0px;}
div.witheBR{position: relative;width: 3px;height: 3px;float: right;background: url(../images/textbox.png)  -21px -22px;}
div.witheTC{margin: 0px 3px 0px 3px;border-top: 1px solid #ccc;background: #fff;height: 2px;} 
div.witheBC{margin: 0px 3px 0px 3px;border-bottom: 1px solid #ccc;background: #fff;height: 2px;}
div.darkC{background: #F1F5FB;padding: 0px 2px 0px 2px;margin: -2px 0px -2px 0px;border-left:1px solid #767676;border-right:1px solid #767676;}
div.darkTL{position: relative;width: 3px;height: 3px;float: left;background: url(../images/textbox.png)  0px -25px;}
div.darkBL{position: relative;width: 3px;height: 3px;float: left;background: url(../images/textbox.png)  0px -47px;}
div.darkTR{position: relative;width: 3px;height: 3px;float: right;background: url(../images/textbox.png)  -21px -25px;}
div.darkBR{position: relative;width: 3px;height: 3px;float: right;background: url(../images/textbox.png)  -21px -47px;}
div.darkTC{margin: 0px 3px 0px 3px;border-top: 1px solid #767676;background-color: #F1F5FB;height: 2px;} 
div.darkBC{margin: 0px 3px 0px 3px;border-bottom: 1px solid #767676;background-color: #F1F5FB;height: 2px;}
div.commentC{background: #F1F5FB;padding: 0px 5px 0px 5px; min-height:25px;}
div.commentTL{position: relative;width: 3px;height: 3px;float: left;background: url(../images/comment2.png);}
div.commentBL{position: relative;width: 3px;height: 3px;float: left;background: url(../images/comment2.png);background-position: 0px -3px;}
div.commentTR{position: relative;width: 3px;height: 3px;float: right;background: url(../images/comment2.png);background-position: -4px 0px;}
div.commentBR{position: relative;width: 3px;height: 3px;float: right;background: url(../images/comment2.png);background-position: -4px -3px;}
div.commentTC{background: #F1F5FB;height: 3px;margin-right: 3px;margin-left: 3px;} 
div.commentBC{background: #F1F5FB;height: 3px;margin-right: 3px;margin-left: 3px;}
div.noapprC{color:#FF0000;padding: 15px;background: #FFEEEE;border-left: 1px solid #FF0000;border-right: 1px solid #FF0000;}
div.noapprTL{position: relative;width: 3px;height: 3px;float: left;background: url(../images/textbox.png)  0px -50px;}
div.noapprBL{position: relative;width: 3px;height: 3px;float: left;background: url(../images/textbox.png)  0px -72px;}
div.noapprTR{position: relative;width: 3px;height: 3px;float: right;background: url(../images/textbox.png)  -21px -50px;}
div.noapprBR{position: relative;width: 3px;height: 3px;float: right;background: url(../images/textbox.png)  -21px -72px;}
div.noapprTC{margin: 0px 3px 0px 3px;border-top: 1px solid #FF0000;background-color: #FFEEEE;height: 2px;} 
div.noapprBC{margin: 0px 3px 0px 3px;border-bottom: 1px solid #FF0000;background-color: #FFEEEE;height: 2px;}
div.apprC{color: #006600;padding: 15px;background: #EFFFDD;border-left: 1px solid #6EC412;border-right: 1px solid #6EC412;}
div.apprTL{position: relative;width: 3px;height: 3px;float: left;background: url(../images/textbox.png)  0px -75px;}
div.apprBL{position: relative;width: 3px;height: 3px;float: left;background: url(../images/textbox.png)  0px -97px;}
div.apprTR{position: relative;width: 3px;height: 3px;float: right;background: url(../images/textbox.png)  -21px -75px;}
div.apprBR{position: relative;width: 3px;height: 3px;float: right;background: url(../images/textbox.png)  -21px -97px;}
div.apprTC{margin: 0px 3px 0px 3px;border-top: 1px solid #6EC412;background-color: #EFFFDD;height: 2px;} 
div.apprBC{margin: 0px 3px 0px 3px;border-bottom: 1px solid #6EC412;background-color: #EFFFDD;height: 2px;}
div.apprC h1{color: #006600;}
div.tabcC{padding: 15px;background: #fff;border-style: solid;border-width: 1px 1px 0px 1px;border-color: #DADADA;} 
div.tabcBL{position: relative;width: 3px;height: 3px;float: left;background: url(../images/content.png);background-position: 0px -3px;}
div.tabcBR{position: relative;width: 3px;height: 3px;float: right;background: url(../images/content.png);background-position: -4px -3px;}
div.tabcBC{background: url(../images/contentcon.png);background-position: 0px -3px;height: 3px;margin-right: 3px;margin-left: 3px;}