<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Mytrip.Mvc.Model.Linq2sql.Properties.Settings.mytripmvcConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=C:\Users\Mytrip.Mvc\Documents\MY-TRIP-MVC-2\VS2008\1_A_JOB_Linq2sql\Mytrip.Mvc.Web.Linq2sql\App_Data\mytripmvc.mdf;Integrated Security=True;User Instance=True"
            providerName="System.Data.SqlClient" />
        <add name="Mytrip.Mvc.Model.Linq2sql.Properties.Settings.mytripmvcConnectionString1"
            connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=C:\Users\Margo\Desktop\2.0.241.1\Mytrip.Mvc.Web.Linq2sql\App_Data\mytripmvc.mdf;Integrated Security=True;User Instance=True"
            providerName="System.Data.SqlClient" />
        <add name="Mytrip.Mvc.Model.Linq2sql.Properties.Settings.mytripmvcConnectionString2"
            connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=C:\Users\Mytrip.Mvc\Mytrip.Mvc_2.0\VS2008\1_A_JOB_Linq2sql\Mytrip.Mvc.Web.Linq2sql\App_Data\mytripmvc.mdf;Integrated Security=True;User Instance=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>