@{ 
    /* Copyright © 2009 - 2010 Oleg Stuhin & Rostislav Haitovich 
       To learn more about Mytrip.Mvc visit  
       http://mytripmvc.net  http://mytripmvc.codeplex.com 
       mytripmvc@gmail.com
       license: Microsoft Public License (Ms-PL) */ 
}
@{
    View.Title = Html.MytripPageTitle(CoreLanguage.change_password, "/");
    View.Keywords=Html.MytripPageTitle(CoreLanguage.change_password, ",");
    View.Description=Html.MytripPageTitle(CoreLanguage.change_password, ",");
}
@section content{
<h1 class="title">@CoreLanguage.change_password</h1>
<fieldset>
<p>@CoreLanguage.change_password_success</p>
</fieldset>
}
