<?xml version="1.0"?>
<appSettings>
  <add key="Development" value="True" />
  <add key="Membership" value="MSSQL" />
  <add key="MSSQLIntegratedSecurity" value="True" />
  <add key="MSSQLServer" value=".\SQLEXPRESS" />
  <add key="MSSQLDataBase" value="mytripmvc.mdf" />
  <add key="MSSQLUser" />
  <add key="MSSQLPassword" value="01000000D08C9DDF0115D1118C7A00C04FC297EB01000000FBE262BFB5CA254298FEF3C6E9CAD6DE04000000020000000000106600000001000020000000D2F88732687F31B8D45ECF004D965FBF4C863F3AE5DD1EAE795F0114DD00BE05000000000E8000000002000020000000CC5343FFDE62B4A10EC89EABCAE0E0F7D7B107586A5462984283F31145A9E83A1000000092C4504FC895DA9C7ECA526482D590B240000000C6C25A9F700B615F92993ED42EA117E0CEB62E95E594CCD82D9BA5EB95193E6B8F4133C550E313C49C1BFA595C06B58900CF01EE992A93361D10F00258EF21E5" />
  <add key="minRequiredPasswordLength" value="6" />
  <add key="maxInvalidPasswordAttempts" value="5" />
  <add key="requiresUniqueEmail" value="False" />
  <add key="unlockCaptcha" value="True" />
  <add key="roleAdmin" value="admin" />
  <add key="unlockRegistration" value="True" />
  <add key="unlockVisibleLogon" value="True" />
  <add key="defaultCulture" value="en-us" />
  <add key="unlockAllCulture" value="True" />
  <add key="defaultTheme" value="Sky (Web 2.0)" />
  <add key="unlockTheme" value="True" />
  <add key="unlockGravatar" value="True" />
  <add key="articles" value="true" />
  <add key="blogs" value="true" />
  <add key="countCommentForBlogs" value="5" />
  <add key="roleChiefEditor" value="chief_editor" />
  <add key="roleArticleEditor" value="article_editor" />
  <add key="roleBlogger" value="blogger" />
</appSettings>
