<?xml version="1.0"?>
<appSettings>
  <add key="Development" value="True" />
  <add key="Membership" value="MSSQL"/>
  <add key="MSSQLIntegratedSecurity" value="True" />
  <add key="MSSQLServer" value=".\SQLEXPRESS" />
  <add key="MSSQLDataBase" value="mytripmvc.mdf" />
  <add key="MSSQLUser" />
  <add key="MSSQLPassword" value="" />
  <add key="minRequiredPasswordLength" value="6" />
  <add key="maxInvalidPasswordAttempts" value="5" />
  <add key="requiresUniqueEmail" value="false" />
  <add key="unlockCaptcha" value="true" />
  <add key="roleAdmin" value="admin" />
  <add key="unlockRegistration" value="true" />
  <add key="unlockVisibleLogon" value="true" />
  <add key="defaultCulture" value="en-us" />
  <add key="unlockAllCulture" value="true" />
  <add key="defaultTheme" value="Strongly Gray" />
  <add key="unlockTheme" value="true" />
  <add key="unlockGravatar" value="true" />
  <add key="articles" value="true" />
  <add key="blogs" value="true" />
  <add key="countCommentForBlogs" value="5" />
  <add key="roleChiefEditor" value="chief_editor" />
  <add key="roleArticleEditor" value="article_editor" />
  <add key="roleBlogger" value="blogger" />
</appSettings>
