/*------PASSIVE-----------------*/
div.logonL{background: url(../images/logmenu.png);background-position: 0px 0px;position: relative;width: 9px;height: 26px;float: left;}
div.logonR{background: url(../images/logmenu.png);background-position: -71px 0px;position: relative;width: 9px;height: 26px;float: right;}
div.logonRD{background: url(../images/logmenu.png);background-position: -59px 0px;position: relative;width: 21px;height: 26px;float: right;}
/*------------ACTIVE--------------------*/
div.logonC.ac{background: url(../images/logmenucon.png);background-repeat: repeat-x;background-position: 0px -26px;color: #1E395B;height: 23px;padding-top: 3px;margin-right: 9px;margin-left: 9px;} 
div.logonC.ac a{color: #1E395B;text-decoration: none;}
div.logonC.ac a:hover{color: #1E395B;text-decoration: none;}   
div.logonCD.ac{background: url(../images/logmenucon.png);background-repeat: repeat-x;background-position: 0px -26px;color: #1E395B;height: 23px;padding-top: 3px;margin-right: 21px;margin-left: 9px;} 
div.logonCD.ac a{color: #1E395B;text-decoration: none;}
div.logonCD.ac a:hover{color: #1E395B;text-decoration: none;}
div.logonL.ac{background:url(../images/logmenu.png);background-position: 0px -26px;position: relative;width: 9px;height: 26px;float: left;}
div.logonR.ac{background:url(../images/logmenu.png);background-position: -71px -26px;width: 9px;height: 26px;float: right;}
div.logonRD.ac{background: url(../images/logmenu.png);background-position: -59px -26px;position: relative;width: 21px;height: 26px;float: right;}
/*------------WARNING--------------------*/
div.logonLW{background:url(../images/logmenu.png);background-position: 0px -52px;position: relative;width: 9px;height: 26px;float: left;}
div.logonRW{background:url(../images/logmenu.png);background-position: -71px -52px;position: relative;width: 9px;height: 26px;float: right;}
/*------------WARNING ac--------------------*/
div.logonCW.ac{background: url(../images/logmenucon.png);background-repeat: repeat-x;background-position: 0px -26px;color: #1E395B;height: 23px;padding-top: 3px;margin-right: 9px;margin-left: 9px;}  
div.logonCW.ac a{color: #1E395B;text-decoration: none;}
div.logonCW.ac a:hover{color: #1E395B;text-decoration: none;}
div.logonLW.ac{background:url(../images/logmenu.png);background-position: 0px -26px;position: relative;width: 9px;height: 26px;float: left;}
div.logonRW.ac{background:url(../images/logmenu.png);background-position: -71px -26px;position: relative;width: 9px;height: 26px;float: right;}
/*-------------UL-LI------------------*/
div.logonI div.logonUL{position: absolute;z-index: 1000;top: -1000px;} 
div.logonSC{padding: 0px 1px 0px 1px;background: url(../images/menuslidecon.png) repeat-y right;border-left: 1px solid #767676;}
div.logonSTL{position: relative;width: 4px;height: 10px;float: left;background:url(../images/menuslide.png);}
div.logonSBL{background:url(../images/menuslide.png);background-position: 0px -11px;position: relative;width: 7px;height: 7px;float: left;}
div.logonSTR{background:url(../images/menuslide.png);background-position: -7px 0px;position: relative;width: 7px;height: 10px;float: right;}
div.logonSBR{background:url(../images/menuslide.png);background-position: -7px -11px;position: relative;width: 7px;height: 7px;float: right;}
div.logonSTC{background:url(../images/menuslidecontop.png);margin-right: 7px;margin-left: 4px;height: 10px;} 
div.logonSBC{background: url(../images/menuslidecontop.png) repeat-x 0px -11px;height: 7px;margin-right: 7px;margin-left: 7px;}
div.logonSC div a{color: #1E395B;text-decoration: none;}
div.logonSC div a:hover{color: #1E395B;text-decoration: none;}
div.logonSC div{border: 1px solid #fff;margin: 0px 6px 0px 2px;padding: 3px 4px 3px 4px;color: #1E395B;white-space: nowrap;}
div.logonSC div:hover{background: url(../images/menuback.png);background-repeat: repeat-x;border: 1px solid #FFB700;}
