input[type="text"]{background: none;border:0;}
input[type="password"]{background: none;border: 0;}
div.textbox{width:220px;}
div.textboxR{margin: 0px 0px 0px 4px;position: relative;float: right;}
/* passive */
div.textC{padding: 3px 0px 0px 0px;margin: 0px 3px 0px 3px;background: url(images/textboxcon.png) repeat-x 0px -25px;height: 22px;}
div.textL{position: relative;width: 3px;height: 25px;float: left;background: url(images/textbox.png)  0px -25px;}
div.textR{position: relative;width: 3px;height: 25px;float: right;background: url(images/textbox.png)  -21px -25px;}
textarea.message, textarea.messag{background: none;border: 0;font-family: 'Trebuchet MS' , Arial, Helvetica, sans-serif;font-size: 12px;scrollbar-3dlight-color: #fff;scrollbar-arrow-color: #1E395B;scrollbar-base-color: #F5F6F7;scrollbar-darkshadow-color: #F5F6F7;scrollbar-face-color: #F5F6F7;scrollbar-highlight-color: #F5F6F7;scrollbar-shadow-color: #1E395B;}
div.textareaC{background: #F1F5FB;padding: 0px 2px 0px 2px;margin: -2px 0px -2px 0px;border-left:1px solid #767676;border-right:1px solid #767676;}
div.textareaTL{position: relative;width: 3px;height: 3px;float: left;background: url(images/textbox.png)  0px -25px;}
div.textareaBL{position: relative;width: 3px;height: 3px;float: left;background: url(images/textbox.png)  0px -47px;}
div.textareaTR{position: relative;width: 3px;height: 3px;float: right;background: url(images/textbox.png)  -21px -25px;}
div.textareaBR{position: relative;width: 3px;height: 3px;float: right;background: url(images/textbox.png)  -21px -47px;}
div.textareaTC{margin: 0px 3px 0px 3px;border-top: 1px solid #767676;background-color: #F1F5FB;height: 2px;} 
div.textareaBC{margin: 0px 3px 0px 3px;border-bottom: 1px solid #767676;background-color: #F1F5FB;height: 2px;}
/* active */
div.textC.ac{background-position: 0px 0px;}
div.textL.ac{background-position: 0px 0px;}
div.textR.ac{background-position: -21px 0px;}
textarea.message.ac{scrollbar-3dlight-color: #F5F6F7;scrollbar-arrow-color: #1E395B;scrollbar-base-color: #fff;scrollbar-darkshadow-color: #fff;scrollbar-face-color: #fff;scrollbar-highlight-color: #fff;}
div.textareaC.ac{background: #fff;border-left: 1px solid #767676;border-right: 1px solid #767676;}
div.textareaTL.ac{background-position: 0px 0px;}
div.textareaBL.ac{background-position: 0px -22px;}
div.textareaTR.ac{background-position: -21px 0px;}
div.textareaBR.ac{background-position: -21px -22px;}
div.textareaTC.ac{border-top: 1px solid #767676;background: #fff;} 
div.textareaBC.ac{border-bottom: 1px solid #767676;background: #fff;}
/* error */
div.textC.er{background-position: 0px -50px;}
div.textL.er{background-position: 0px -50px;}
div.textR.er{background-position: -21px -50px;}
textarea.message.er{scrollbar-3dlight-color: #FF0000;scrollbar-arrow-color: #FFEEEE;scrollbar-base-color: #FFEEEE;scrollbar-darkshadow-color: #FFEEEE;scrollbar-face-color: #FFEEEE;scrollbar-highlight-color: #FFEEEE;}
div.textareaC.er{background: #FFEEEE;border-left: 1px solid #FF0000;border-right: 1px solid #FF0000;}
div.textareaTL.er{background-position: 0px -50px;}
div.textareaBL.er{background-position: 0px -72px;}
div.textareaTR.er{background-position: -21px -50px;}
div.textareaBR.er{background-position: -21px -72px;}
div.textareaTC.er{border-top: 1px solid #FF0000;background-color: #FFEEEE;} 
div.textareaBC.er{border-bottom: 1px solid #FF0000;background-color: #FFEEEE;}
