table{border: solid 1px #ddddcc;width: 100%; vertical-align: middle;border-collapse: collapse;}
table td{border: solid 1px #ddddcc;vertical-align: middle;padding: 5px;}
table th{border: solid 1px #ddddcc;background-color: #ddddcc;color: #000;vertical-align: middle;padding: 6px 5px;text-align: left;font-weight: normal;}
table.font08em td{border: 0px;font-size: .8em;}
table.font08em{border: 0px;}
table.content{border: 0;width: 100%;vertical-align: top;}
table.content td{border: solid 1px #9D9D86;padding: 5px;vertical-align: top;}
table.content td.first1{background: none;border: 0;padding: 0;}
table.content td.first2{padding: 0px 5px 0px 5px;border: 0;background: #F1F1EC;}
table.content td.first3{background: none;border: 0;padding: 0px 0px 2px 0px;}
table.content td.last1{padding: 0px 0px 0px 2px;border: 0;background: none;}
table.content td.last2{padding: 0px 5px 0px 7px;border: 0;background: #F1F1EC url('images/homelastcontent.png') repeat-y;}
table.content td.last3{background: none;border: 0;padding: 0px 0px 2px 2px;}
table.leftmidle{padding: 0px;margin: 0px;border-width: 0px;width: auto;vertical-align: middle;}
table.leftmidle td{padding: 2px;margin: 0px;border-width: 0px;width: auto;vertical-align: middle;}
table.leftmidle{padding: 0px;margin: 0px;border-width: 0px;width: auto;vertical-align: middle;}
table.leftmidle td{padding: 2px;margin: 0px;border-width: 0px;width: auto;vertical-align: middle;}   
table.tablePager{width: 100%;padding: 0px;margin: 2px 0px 2px 0px;border: 0px;}
table.noborders{border: 0;width: 100%;vertical-align: top;}
table.noborders tr td{border: 0;vertical-align: top;}
table.content td.artspcific{background: none;width: 120px;border: 0;}
table.content td.artcontent{background: none;border-top:0px;border-bottom:0px;border-right:0px;}
th.rootfolder{width: 40px;}
th.editdelite{width: 50px;}
th.folderfile{width: 10px;}
th.filechangedate{text-align: center;width: 150px;}
th.filesize{width: 110px;text-align: center;}
th.addrole{text-align: right;vertical-align: middle;}
table.comment{border: 0;width: 100%;vertical-align: top;padding: 0px;margin: 0px;}
table.comment tr td.first{border: 0;vertical-align: top;width: 100%;padding: 0px;margin: 0px;}
table.comment tr td.last{padding: 0px 0px 0px 10px;margin: 0px;border: 0;vertical-align: top;background: url('images/comment.png') no-repeat;background-position: 0px 20px;}