input.button
{
    padding: 0px;
    font-family: 'Trebuchet MS' , Arial, Helvetica, sans-serif;
    font-size: 12px;
    border: 0;
    background: none;
    text-decoration: none;
    cursor: pointer;
    color: inherit;
}
a.button
{
    text-decoration: none;
    color: inherit;
}a.button:href
{
    text-decoration: none;
    color: inherit;
}
div.inputbutton
{
    height: 30px;
}
div.itembutton
{position: relative;
    float: left;
    margin-right: 4px;
}
/*------PASSIVE-----------------dropmenu.png*/
   div.buttoncontent
{height: 18px;
    background: url(images/ButtonAndContent/passivecon.png);
    padding: 0px 17px 0px 17px;
    color: #00050F;
}
 div.buttoncontent a
{
    color: #00050F;
    text-decoration: none;
}div.buttoncontent a:hover
{
    color: #00050F;
    text-decoration: none;
}   div.buttoncontentdrop
{height: 18px;
    background: url(images/ButtonAndContent/passivecondrop.png) no-repeat right;
    padding: 0px 20px 0px 17px;
    color: #00050F;
}
 div.buttoncontentdrop a
{
    color: #00050F;
    text-decoration: none;
}div.buttoncontentdrop a:hover
{
    color: #00050F;
    text-decoration: none;
}
div.buttontopleft
{
    position: relative;
    width: 5px;
    height: 5px;
    float: left;
    background:url(images/ButtonAndContent/passivetopleft.png);
}
div.buttonbottomleft 
{
    position: relative;
    width: 5px;
    height: 5px;
    float: left;
    background:url(images/ButtonAndContent/passivebottomleft.png);
}

div.buttontopright 
{
    position: relative;
    width: 5px;
    height: 5px;
    float: right;
    background:url(images/ButtonAndContent/passivetopright.png);
}
div.buttonbottomright 
{
     position: relative;
    width: 5px;
    height: 5px;
    float: right;
    background:url(images/ButtonAndContent/passivebottomright.png);
}
div.buttontopcon
{
    background:url(images/ButtonAndContent/passivetopcon.png);
    margin-right: 5px;
    margin-left: 5px;
    height: 5px;
} 
div.buttonbottomcon
{
    background:url(images/ButtonAndContent/passivebottomcon.png);
    margin-right: 5px;
    margin-left: 5px;
    height: 5px;
}
/*------------ACTIVE--------------------*/
   div.buttoncontent.active
{height: 18px;
    background: url(images/ButtonAndContent/activecon.png);
    padding: 0px 17px 0px 17px;
    color: #00050F;
    
} div.buttoncontent.active a
{
    color: #00050F;
    text-decoration: none;
    
}div.buttoncontent.active a:hover
{
    color: #00050F;
    text-decoration: none;
    
}   div.buttoncontentdrop.active
{height: 18px;
    background: url(images/ButtonAndContent/activecondrop.png) no-repeat right;
    padding: 0px 20px 0px 17px;
    color: #00050F;
    
} div.buttoncontentdrop.active a
{
    color: #00050F;
    text-decoration: none;
    
}div.buttoncontentdrop.active a:hover
{
    color: #00050F;
    text-decoration: none;
    
}
div.buttontopleft.active
{
    position: relative;
    width: 5px;
    height: 5px;
    float: left;
    background:url(images/ButtonAndContent/activetopleft.png);
}
div.buttonbottomleft.active 
{
    position: relative;
    width: 5px;
    height: 5px;
    float: left;
    background:url(images/ButtonAndContent/activebottomleft.png);
}
div.buttontopright.active 
{
    position: relative;
    width: 5px;
    height: 5px;
    float: right;
    background:url(images/ButtonAndContent/activetopright.png);
}
div.buttonbottomright.active 
{
    position: relative;
    width: 5px;
    height: 5px;
    float: right;
    background:url(images/ButtonAndContent/activebottomright.png);
}
div.buttontopcon.active
{
    background:url(images/ButtonAndContent/activetopcon.png);
    margin-right: 5px;
    margin-left: 5px;
    height: 5px;
}
div.buttonbottomcon.active
{
    background:url(images/ButtonAndContent/activebottomcon.png);
    margin-right: 5px;
    margin-left: 5px;
    height: 5px;
}

/*------------WARNING--------------------*/
   div.buttoncontentwarning
{
    background: url(images/ButtonAndContent/visiblecon.png);
    padding: 0px 17px 0px 17px;
    color: #FFFFFF;
    height: 18px;
}  div.buttoncontentwarning a
{
    color: #FFFFFF;
    text-decoration: none;
    
}div.buttoncontentwarning a:hover
{
    color: #FFFFFF;
    text-decoration: none;
    
}
div.buttontopleftwarning
{
    position: relative;
    width: 5px;
    height: 5px;
    float: left;
    background:url(images/ButtonAndContent/visibletopleft.png);
}
div.buttonbottomleftwarning 
{
    position: relative;
    width: 5px;
    height: 5px;
    float: left;
    background:url(images/ButtonAndContent/visiblebottomleft.png);
}
div.buttontoprightwarning 
{
    position: relative;
    width: 5px;
    height: 5px;
    float: right;
    background:url(images/ButtonAndContent/visibletopright.png);
}
div.buttonbottomrightwarning 
{
    position: relative;
    width: 5px;
    height: 5px;
    float: right;
    background:url(images/ButtonAndContent/visiblebottomright.png);
}
div.buttontopconwarning
{
     background:url(images/ButtonAndContent/visibletopcon.png);
    margin-right: 5px;
    margin-left: 5px;
    height: 5px;
}
div.buttonbottomconwarning
{
     background:url(images/ButtonAndContent/visiblebottomcon.png);
    margin-right: 5px;
    margin-left: 5px;
    height: 5px;
}
/*------------WARNING active--------------------*/
   div.buttoncontentwarning.active
{height: 18px;
    background: url(images/ButtonAndContent/hovervisiblecon.png);
    padding: 0px 17px 0px 17px;
    color: #FFFFFF;
    
}  div.buttoncontentwarning.active a
{
    color: #FFFFFF;
    text-decoration: none;
    
}div.buttoncontentwarning.active a:hover
{
    color: #FFFFFF;
    text-decoration: none;
    
}
div.buttontopleftwarning.active
{
    position: relative;
    width: 5px;
    height: 5px;
    float: left;
    background:url(images/ButtonAndContent/hovervisibletopleft.png);
}
div.buttonbottomleftwarning.active 
{
    position: relative;
    width: 5px;
    height: 5px;
    float: left;
    background:url(images/ButtonAndContent/hovervisiblebottomleft.png);
}
div.buttontoprightwarning.active 
{
    position: relative;
    width: 5px;
    height: 5px;
    float: right;
    background:url(images/ButtonAndContent/hovervisibletopright.png);
}
div.buttonbottomrightwarning.active 
{
    position: relative;
    width: 5px;
    height: 5px;
    float: right;
    background:url(images/ButtonAndContent/hovervisiblebottomright.png);
}
div.buttontopconwarning.active
{
     background:url(images/ButtonAndContent/hovervisibletopcon.png);
    margin-right: 5px;
    margin-left: 5px;
    height: 5px;
}
div.buttonbottomconwarning.active
{
     background:url(images/ButtonAndContent/hovervisiblebottomcon.png);
    margin-right: 5px;
    margin-left: 5px;
    height: 5px;
}

