
   input.rating
   {
       width: 15px; 
       height: 15px; 
       border-width: 0px;
       cursor:pointer;
       text-indent:-999px;
   }
    input.ratingfull
   {
       background:url("images/star.png"); 
   }
    input.ratingempty
   {
       background:url(images/star100.png); 
   }
