/************************************************************ 
    // Copyright © 2009 - 2010 Oleg Stuhin & Rostislav Haitovich
    // To learn more about Mytrip.Mvc.Entyty visit 
    // http://starterkitmytripmvc.codeplex.com/
    // mytripmvc@gmail.com
    // license: Microsoft Public License (Ms-PL) 
    // ***********************************************************/
/* BODY
   * -----------------------------------------------------*/
@import url(Menu.css);
@import url(Rating.css);
@import url(Accordion.css);
@import url(LogonMenu.css);
@import url(Header.css);
@import url(Main.css);
@import url(Footer.css);
@import url(Content.css);
@import url(InputButton.css);
@import url(Dropdown.css);
@import url(InputText.css);
@import url(Table.css);
body
{
    background: #DEE1E7;
    font-family: 'Trebuchet MS' , Arial, Helvetica, sans-serif;
    font-size: 12px;
    margin: 0;
    padding: 0;
    color: #00050F;
}a
{
    color: #006699;
    text-decoration: underline;
}
a:link
{
    color: #006699;
    text-decoration: underline;
}
a:visited
{
    color: #006699;
}
a:hover
{
    color: #006699;
    text-decoration: none;
}
a:active
{
    color: #006699;
}
p, ul
{
    /*margin-bottom: 20px;
    line-height: 1.6em;*/
}
img
{
    border: 0 none;
    vertical-align:middle;
}
/* HEADINGS
   * -----------------------------------------------------*/ 
h1, h2, h3, h4, h5, h6
{
    font-family: 'Trebuchet MS' , Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    color: #00050F;
}
h1
{
    font-size: 2em;
    padding-bottom: 0;
    margin-bottom: 0;
}
h2
{
    padding: 0;
}
h3
{
    font-size: 1.2em;
}
h4
{
    font-size: 1.1em;
}
h5, h6
{
    font-size: 1em;
}
h2.adminlink
{
    position: relative;
    float: right;
}
h2.white
{
    color: #00050F;
}
h2.title{color: #006699;}
h2.title a{color: #006699;}
h3.title a{color: #006699;}
h3.title{color: #006699;}
h4.title a{color: #006699;}
h4.title{color: #006699;}
b.title{color: #006699;}
#search
{
    border: 1px solid #ccc;
    width: 100%;
    background-color: #FFFFFF;
}
#_search
{margin-left:5px;
    background: url(images/search.png);
    border: 0;
    height: 22px;
    width:21px;cursor: pointer;
}
tr.profile1{border:0px;border-bottom:1px solid #CCCCCC;background-color:#F7F5F5;}
tr.profile2{border:0px;border-bottom:1px solid #CCCCCC;background-color:#EDEBEB;}
div.div_border
{
    border: 1px dotted #000000;
}
/* PRIMARY LAYOUT ELEMENTS 
   * -----------------------------------------------------*/ 
.page
{
    width: 98%;
    margin-left: auto;
    margin-right: auto;
}



/* FORM LAYOUT ELEMENTS 
   * -----------------------------------------------------*/ 
fieldset
{
    margin: 1em 0;
    padding: 1em;
    border: 1px solid #CCC;
}
fieldset p
{
    margin: 2px 12px 10px 10px;
}
legend
{
    font-size: 1.1em;
    font-weight: 600;
    padding: 2px 4px 8px 4px;
}

.captcha
{
    border: 0;
}

/* TABLE 
   * -----------------------------------------------------*/
   a.hometitle
{
    font-size: 14px;
    font-weight: bold;
    color: #007CA9;
}
 
   table.homepage
{
    border: 0;
    width: 100%;
    vertical-align: top;
    
}   table.homepage2
{
    border: 0;
    width: 100%;
    vertical-align: top;
}
    table.homepage td
{
    border: dotted 1px #A9AEB8;
    padding: 5px;
    vertical-align: top;
}
  table.homepage2 td
{background: url(images/ButtonAndContent/backgroundhomecontent.png);
    border: solid 1px #A9AEB8;
    padding:0;
    padding-left: 10px;padding-right: 5px;
    vertical-align: top;
} 
table
{
    border: solid 1px #ccc;
    width: 100%;
    border-collapse: collapse;
}
table td
{
    border: solid 1px #ccc;
    padding: 5px;
}
table th
{
    border: solid 1px #ccc;
    background-color: #ccc;
    color: #333;
    padding: 6px 5px;
    text-align: left;
}
table th a
{
    color: #333;
}
table th a:link
{
    color: #333;
}
table th a:hover
{
    color: #333;
}
table th a:visited
{
    color: #333;
}
table th a:active
{
    color: #333;
}
table.mastertable
{
    padding: 0px;
    margin: 0px;
    width: 100%;
    border-width: 0px;
}
td.mastertabletd
{
    padding: 0px;
    margin: 0px;
    vertical-align: top;
    border-width: 0px;
}
th.rootfolder
{
    width: 40px;
}
th.dableinput
{
    text-align: right;
    width: 50%;
}
th.oneinput
{
    text-align: right;
}
th.editdelite
{
    width: 50px;
}
th.folderfile
{
    width: 10px;
}
th.filechangedate
{
    text-align: center;
    width: 150px;
}
th.filesize
{
    width: 110px;
    text-align: center;
}
th.addrole
{
    text-align: right;
    vertical-align: middle;
}

/* MISC 
   * -----------------------------------------------------*/ 
.clear
{
    clear: both;
}
.error
{
    color: Red;
}
.field-validation-error
{
    color: #ff0000;
}
.field-validation-valid
{
    display: none;
}
.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}
.captcha-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}
.validation-summary-errors
{
    font-weight: bold;
    color: #ff0000;
}
.validation-summary-valid
{
    display: none;
}
.display-label, .editor-label, .display-field, .editor-field
{
    margin: 0.5em 0;
}
.text-box
{
    width: 30em;
}
.text-box.multi-line
{
    height: 6.5em;
}
.tri-state
{
    width: 6em;
}

/* SILVERLIGHT
   * -----------------------------------------------------*/ 
   .fadeSome {
        opacity:0.30;
        filter:alpha(opacity=30);
        -moz-opacity: 30%;        
    }
    .fadeLots {
        opacity:0.50;
        filter:alpha(opacity=50);
        -moz-opacity: 0.5;        
    }  
    .fadeCompletely {
        opacity:0.0;
        filter:alpha(opacity=0);
        -moz-opacity: 0.0;
    }
/* END
   * -----------------------------------------------------*/ 
img.imgabstract
{
    position: relative;
    float: right;
    margin-bottom: 5px;
    margin-left: 5px;
}

/* Последние добавленные стили  * -----------------------------------------------------*/ 
input.link
{
    font-family: 'Trebuchet MS' , Arial, Helvetica, sans-serif;
    font-size: 12px;
   
    border: 0;
    background: none;
    text-decoration: underline;
    cursor: pointer;
    color: #006699;
}
input.link:hover
{
    font-family: 'Trebuchet MS' , Arial, Helvetica, sans-serif;
    font-size: 12px;
    border: 0;
    background: none;
    text-decoration: none;
    color:#006699;
    cursor: pointer;
}

    /* Последние добавленные стили  * -----------------------------------------------------*/
ol.numbered
{
    padding: 0 5px 0 20px;
    color: #666666;
}
ol.numbered li
{
}
input.link
{
    border: 0;
    background: none;
    text-decoration: underline;
    cursor: pointer;
}
input.link:hover
{
    border: 0;
    background: none;
    text-decoration: none;
    cursor: pointer;
}
input.button
{
    border: 0;
    background: none;
    text-decoration: none;
    cursor: pointer;
}
table.tablenoborders
{
    border: 0;
    width: 100%;
    vertical-align: top;
}
table.tablenoborders tr td
{
    border: 0;
    vertical-align: top;
}
